# ========================
# Maven / Build
# ========================
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/

**/HELP.md

# ========================
# Logs
# ========================
*.log

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# IntelliJ
# ========================
.idea/
*.iml
*.iws
*.ipr

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Eclipse / STS
# ========================
.project
.classpath
.settings/
.springBeans
.sts4-cache

# ========================
# Maven Wrapper
# ========================
.mvn/wrapper/maven-wrapper.jar

# ========================
# H2 DB files (if file-based)
# ========================
*.mv.db
*.trace.db

# ========================
# Env files
# ========================
.env
# Docker
.docker/
*.dockerignore
docker-compose.override.yml

# WSL artifacts  
.wslconfig
